<p>Chat about your favourite artists below!</p>
<div [style.display]="usernameDisplay" class="username">
  <label>Choose a username:</label>
  <input id="uinput" #uinput/>
  <button (click)="onClick(uinput.value)">Enter</button>
</div>
<div [style.display]="messageBoxDisplay" class="messageBox">
  <div id="messages">
    <p *ngFor="let connection of connectionList" class="connectionList">{{connection}}</p>
    <p *ngFor="let message of messageList" class="message_received">{{message}}</p>
    <p *ngFor="let sentMessage of sentMessageList" class="message_sent">{{sentMessage}}</p>
  </div>
  <input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" id="input" autocomplete="off"/>
</div>



